.swiper {
  width: 100%;
  height: 3rem;
  overflow: hidden;
}
.content {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0%;
  transition: left 2s;
}
.noTran {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0%;
  /*transition: left 2s;*/
}
div.item {
  height: 100%;
  width: 50%;
}
div.swiper img {
  width: 3.75rem;
  height: 100%;
  float: left;
}
.Airbnb-icon {
  height: .32rem;
  width: .32rem;
  position: absolute;
  top: .24rem;
  left: .24rem;
  color: #fff;
  font-size: .3rem;
}
.user-icon {
  height: .32rem;
  width: .32rem;
  position: absolute;
  top: .24rem;
  right: .24rem;
  color: #fff;
  font-size: .3rem;
}
